[Unit]
Description=Catalogue Service

[Service]
ENVIRONMENT=MONGO="{{ lookup('aws_ssm', 'param_{{ENV}}_dev_catalogue_MONGO' ,  region='us-east-1') }}"
Environment=MONGO_URL="{{ lookup('aws_ssm', 'param_{{ENV}}_dev_catalogue_mongo', region='us-east-1' ) }}"
ExecStart=/usr/bin/node  /home/roboshop/catalogue/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target